/* Reset some default styles */
body, h1, h2, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #444444;
    color: #fff;
    padding: 10px 0;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

li {
    margin: 0;
}

a {
    text-decoration: none;
    color: #030303;
    font-weight: bold;
    transition: color 0.3s;
}

a:hover {
    color: #ffd700; /* change this to your desired hover color */
}
